.formarea{
    width: 100%;
    min-height: 100%;
    background-image: url('../../assets/images/co3.jpg');
    background-size: cover;
}

.navbar-brand img{
    height: 70px;
}

hr.light{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.pic{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
.pic img{
    height: 100px;   
   }