
  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" ><img src="../../assets/images/co5.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      </div>
    </nav>

  <div class="formarea">
    &nbsp;
    <router-outlet></router-outlet>    
  </div>
<footer>
  <div class="pic">
    <div class="container-fluid padding">
      <div class="row text-center ">
        <div class="col-md-4">
          <img src="../../assets/images/co5.png">
          <hr class="light">
          <p>You Can Register 1 member with 1 Email Id.</p>
          <p>Don’t disclose booking Ref ID, the last 4 digit of Ref ID will be used as security pin during vaccination.</p>
        </div>
        
  <div class="col-md-4">
    <div class="light">
      <h5>Helping Hours</h5>
      <hr class="light">
      <p>Every Month</p>
      <p>All Weeks</p>
      <p> 7 days</p>
      <p>24 Hours</p>
    </div>
  </div>
  <div class="col-md-4">
    <hr class="light">
    <h5>Notice</h5>
  
    <p>
  Walk-in registration and appointment facility is currently not available for 18-44 age group, only online appointment can be taken.
    </p>
    <p>The minimum age for each vaccination center is displayed with the name of the vaccination center.</p>
    <p>The second dose of COVAXIN should be taken between 28 days to 42 days after the first dose. The second dose of COVISHIELD should be taken between 84 days to 112 days after the first dose. The second dose of SPUTNIK V should be taken between 21 days to 90 days after the first dose.</p>
  </div>
  <div class="col-12">
    <hr class="light">
    <h4>&copy; ANTI-COVID.com</h4>
  </div>
      </div>
    </div>
  </div>
</footer>